@using QQJob.ViewModels.CandidateViewModels
@model FollowingEmployerListViewModel
@{
    ViewBag.Title = "Following Employer";
}
<style>
    .followed {
        background-color: var(--rts-button-1) !important;
        color: var(--rts-white) !important;
        cursor: pointer;
    }

    .followed:hover {
        background-color: unset !important;
        border: 1px solid var(--rts-border) !important;
    }

    .followed:hover i {
        color: black !important;
    }
</style>
    <!-- content area -->
<div class="dashboard__content d-flex template-dashboard ">
    <partial name="_LeftMenu" />
    <div class="dashboard__right">
        <div class="dash__content ">
            <!-- sidebar menu -->
            <div class="sidebar__menu d-md-block d-lg-none">
                <div class="sidebar__action"><i class="fa-sharp fa-regular fa-bars"></i> Sidebar</div>
            </div>
            <!-- sidebar menu end -->

            <div class="applied__job__info radius-16">

                <div class="job__filter">
                    <div class="search__job">
                        <form id="searchForm" method="get" data-ajax="true" data-ajax-method="get" data-ajax-update=".applied__job__list" data-ajax-mode='replace' data-ajax-url="@Url.Action("Follow", "Candidate")">
                            <div class="position-relative">
                                <input type="text" id="search" name="search" placeholder="Find Employer">
                                <i class="fa-light fa-magnifying-glass"></i>
                            </div>
                            @Html.HiddenFor(m => m.Paging.CurrentPage)
                        </form>
                    </div>
                </div>

                <div class="applied__job__list">
                    <partial name="_Follow" model="Model"></partial>
                </div>
            </div>
        </div>

        <div class="d-flex justify-content-center mt-30">
            <p class="copyright">Copyright © 2025 All Rights Reserved by QQJob</p>
        </div>
    </div>
</div>
<!-- content area end -->
@section Scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-ajax-unobtrusive/3.2.6/jquery.unobtrusive-ajax.min.js"></script>
    <script>
        const searchForm = $("#searchForm");
        function pagingSelect(selectedPage){
            $("#Paging_CurrentPage").val(selectedPage);
            searchForm.submit();
        }
        $("#search").on("input", function() {
            $("#Paging_CurrentPage").val(1);
            searchForm.submit();
        });
        $(document).on('click', '.follow-btn', function (e) {
            e.preventDefault();

            var $btn = $(this);
            var employerId = $btn.data('employer-id');

            $.ajax({
                type: 'POST',
                url: '/Candidate/Follow', // Change to your controller's route if different
                data: { employerId: employerId },
                success: function (response) {
                    // Show feedback (you can use toast, alert, etc.)
                    showToastMessage(response.message, "success");

                    var $icon = $btn.find('i');
                    if (response.success) {
                        $btn.addClass('followed');
                        $btn.attr('title', 'Unfollow');
                    } else {
                        $btn.removeClass('followed');
                        $btn.attr('title', 'Follow');
                    }
                },
                error: function (xhr) {
                    // Optionally handle errors (login warning, etc.)
                    alert('Something went wrong. Please try again.');
                }
            });
        });
    </script>
}