    <!-- content area -->
<div class="dashboard__content d-flex template-dashboard ">
    <partial name="_LeftMenu" />
    <div class="dashboard__right">
        <div class="dash__content ">
            <!-- sidebar menu -->
            <div class="sidebar__menu d-md-block d-lg-none">
                <div class="sidebar__action"><i class="fa-sharp fa-regular fa-bars"></i> Sidebar</div>
            </div>
            <!-- sidebar menu end -->

            <div class="my__profile__tab radius-16 bg-white">
                <div class="my__details" id="info">
                    <div class="info__top">
                        <div class="author__image">
                            <img src="/assets/img/avatars/default-avatar.jpg" alt="">
                        </div>
                        <div class="select__image">
                            <label for="file" class="file-upload__label">Upload New Photo</label>
                            <input type="file" class="file-upload__input" id="file" required>
                        </div>
                        <div class="delete__data">
                            <i class="fa-light fa-trash-can"></i>
                        </div>
                    </div>
                    <div class="info__field">
                        <div class="row row-cols-1 g-3">
                            <div class="rt-input-group">
                                <label for="name">Full Name</label>
                                <input type="text" id="name" placeholder="Full Name" required>
                            </div>
                        </div>
                        <div class="row row-cols-sm-2 row-cols-1 g-3">
                            <div class="rt-input-group">
                                <label for="email">Email</label>
                                <input type="email" id="email" placeholder="jobpath@gmqail.com" required>
                            </div>
                            <div class="rt-input-group">
                                <label for="phone">Phone</label>
                                <input type="text" id="phone" placeholder="+880171234567" required>
                            </div>
                        </div>
                        <div class="row row-cols-sm-2 row-cols-1 g-3">
                            <div class="rt-input-group">
                                <label for="jobTitle">Job Title </label>
                                <input type="text" id="jobTitle" placeholder="Enter Job Title" required>
                            </div>
                            <div class="rt-input-group">
                                <label for="gender">Working Type</label>
                                <select name="gender" id="gender" class="form-select">
                                    <option value="male">Full time</option>
                                    <option value="female">Part time</option>
                                    <option value="female">Remote</option>
                                    <option value="other">Other</option>
                                </select>
                            </div>
                        </div>
                        <!-- editor area -->
                        <div class="rt-input-group">
                            <label for="editor">Description</label>
                            <textarea name="editor" id="editor" class="form-control" placeholder="Enter Description" cols="10" rows="5"></textarea>
                        </div>
                        <!-- editor area end -->
                        <div class="info__field">
                            <button type="submit" class="rts__btn fill__btn mx-0">Save Profile</button>
                        </div>
                    </div>
                </div>
            </div>
            <h6 class="fw-medium mt-4 mb-4">Social Links</h6>
            <div class="social__links p-30 radius-16 bg-white" id="social">
                <div class="info__field">
                    <div class="row row-cols-sm-2 row-cols-1 g-3">
                        <div class="rt-input-group">
                            <label for="Facebook">Facebook</label>
                            <input type="url" id="Facebook" placeholder="WWW.facebook.com/jobpath" required>
                        </div>
                        <div class="rt-input-group">
                            <label for="Linkedin">Linkedin</label>
                            <input type="url" id="Linkedin" placeholder="WWW.Linkedin.com/jobpath" required>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- content area end -->