    <!-- content area -->
<div class="dashboard__content d-flex template-dashboard ">
    <partial name="_LeftMenu" />
    <div class="dashboard__right">
        <div class="dash__content ">
            <!-- sidebar menu -->
            <div class="sidebar__menu d-md-block d-lg-none">
                <div class="sidebar__action"><i class="fa-sharp fa-regular fa-bars"></i> Sidebar</div>
            </div>
            <!-- sidebar menu end -->
            <div class="my__profile__tab radius-16 bg-white">
                <div class="my__details" id="info">
                    <div class="info__top align-items-start flex-column">

                        <div class="select__image">
                            <label for="file" class="file-upload__label__two">
                                <span>
                                    <i class="fa-light fa-file-arrow-up"></i>
                                    <b><u>Click To Upload</u></b> Or Drag and Drop
                                    <br>
                                    Meximum File Size 10 Mb
                                </span>
                            </label>
                            <input type="file" class="file-upload__input__two" id="file" required>
                        </div>
                        <div class="cv__included d-flex gap-30">
                            <div class="single__item">
                                <div class="d-flex justify-content-between">
                                    <span>Resume</span>
                                    <span><i class="fa-regular fa-xmark"></i></span>
                                </div>
                                <div class="file__type font-20 mt-2 fw-semibold">
                                    PDF
                                </div>
                            </div>
                            <div class="single__item">
                                <div class="d-flex justify-content-between">
                                    <span>Cover Letter</span>
                                    <span><i class="fa-regular fa-xmark"></i></span>
                                </div>
                                <div class="file__type font-20 mt-2 fw-semibold">
                                    PDF
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- education -->
            <h6 class="fw-medium mt-30 mb-20">Education</h6>
            <div class="my__education radius-16 p-30 bg-white" id="education">
                <div class="accordion" id="rts-accordion">
                    <div class="accordion-item">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#c8" aria-expanded="false" aria-controls="c8">
                            SSC
                        </button>
                        <div id="c8" class="accordion-collapse collapse" data-bs-parent="#rts-accordion">
                            <div class="accordion-body p-0 mt-3 mb-20">
                                <div class="info__field">
                                    <div class="row row-cols-sm-2 row-cols-md-3 row-cols-1">
                                        <div class="rt-input-group">
                                            <label for="title">Title</label>
                                            <select name="Title" id="title" class="form-select">
                                                <option value="*" selected>SSC</option>
                                                <option value="1">SSC</option>
                                                <option value="2">HSC</option>
                                                <option value="3">Diploma</option>
                                                <option value="4">Graduation</option>
                                                <option value="5">Post Graduation</option>
                                            </select>
                                        </div>
                                        <div class="rt-input-group">
                                            <label for="std">Start date</label>
                                            <input type="text" id="std" placeholder="05/08/2021" required>
                                        </div>
                                        <div class="rt-input-group">
                                            <label for="ltd">End Date</label>
                                            <input type="text" id="ltd" placeholder="05/09/2021" required>
                                        </div>
                                    </div>
                                    <div class="row row-cols-sm-2 row-cols-1">
                                        <div class="rt-input-group">
                                            <label for="un">University Name</label>
                                            <input type="text" id="un" placeholder="Massachusetts Institute of Technology" required>
                                        </div>
                                        <div class="rt-input-group">
                                            <label for="grade">GPA 5</label>
                                            <input type="text" id="grade" placeholder="GPA-5" required>
                                        </div>
                                    </div>
                                    <div class="rt-input-group">
                                        <label for="desc">Description</label>
                                        <textarea name="desc" id="desc" cols="30" rows="5" placeholder="Description"></textarea>
                                    </div>
                                </div>
                                <div class="d-flex justify-content-end mt-30">
                                    <a href="#" class="added__social__link">Remove Education</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex justify-content-start">
                        <a href="#" class="added__social__link">Add Education</a>
                    </div>
                </div>
            </div>
            <!-- education end -->
            <!-- education -->
            <h6 class="fw-medium mt-30 mb-20">Skill & Experience</h6>
            <div class="my__education radius-16 p-30 bg-white" id="education-1">
                <div class="my__skillset">
                    <ul class="skill__tags">
                        <li><span class="skill__item">HTML</span> <span><i class="fa-regular fa-xmark"></i></span> </li>
                        <li><span class="skill__item">C++</span> <span><i class="fa-regular fa-xmark"></i></span> </li>
                        <li><span class="skill__item">Wordpress</span> <span><i class="fa-regular fa-xmark"></i></span> </li>
                        <li><span class="skill__item">JQuery</span> <span><i class="fa-regular fa-xmark"></i></span> </li>
                        <li><span class="skill__item">Website Development</span> <span><i class="fa-regular fa-xmark"></i></span> </li>
                        <li><span class="skill__item">Figma</span> <span><i class="fa-regular fa-xmark"></i></span> </li>
                        <li><span class="skill__item">CSS</span> <span><i class="fa-regular fa-xmark"></i></span> </li>
                        <li><span class="skill__item__add"><i class="fa-regular fa-plus"></i></span></li>
                    </ul>
                </div>
                <div class="accordion" id="rts-accordion-2">
                    <div class="accordion-item">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#c1" aria-expanded="false" aria-controls="c1">
                            Software Engineer
                        </button>
                        <div id="c1" class="accordion-collapse collapse" data-bs-parent="#rts-accordion-2">
                            <div class="accordion-body p-0 mt-3 mb-20">
                                <div class="info__field">
                                    <div class="row row-cols-sm-2 row-cols-1">
                                        <div class="rt-input-group">
                                            <label for="title-4">Title</label>
                                            <input type="text" id="title-4" placeholder="Software Engineer" required>
                                        </div>
                                        <div class="rt-input-group">
                                            <label for="cm-4">Company</label>
                                            <input type="text" id="cm-4" placeholder="Reactheme" required>
                                        </div>
                                    </div>
                                    <div class="row row-cols-sm-2 row-cols-1">
                                        <div class="rt-input-group">
                                            <label for="de-4">end date</label>
                                            <input type="text" id="de-4" placeholder="DD/ MM/ YY" required>
                                        </div>
                                        <div class="rt-input-group">
                                            <label for="sd-4">Start Date</label>
                                            <input type="text" id="sd-4" placeholder="DD/MM/YY" required>
                                        </div>
                                    </div>
                                    <div class="rt-input-group">
                                        <label for="desc-4">Description</label>
                                        <textarea name="desc" id="desc-4" cols="30" rows="5" placeholder="Description"></textarea>
                                    </div>
                                </div>
                                <div class="d-flex justify-content-end mt-30">
                                    <a href="#" class="added__social__link">Remove EXperience</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex justify-content-start">
                        <a href="#" class="added__social__link">Add Skill</a>
                    </div>
                </div>
            </div>
            <!-- education end -->
            <!-- Award -->
            <h6 class="fw-medium mt-30 mb-20">Award</h6>
            <div class="my__education radius-16 p-30 bg-white" id="education-3">
                <div class="accordion" id="rts-accordion-3">
                    <div class="accordion-item">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#c5" aria-expanded="false" aria-controls="c5">
                            Best Candidate
                        </button>
                        <div id="c5" class="accordion-collapse collapse" data-bs-parent="#rts-accordion-3">
                            <div class="accordion-body p-0 mt-3">
                                <div class="info__field">
                                    <div class="row row-cols-sm-2 row-cols-1">
                                        <div class="rt-input-group">
                                            <label for="title-8">Title</label>
                                            <input type="text" id="title-8" placeholder="McMaster Center for Software Certification" required>
                                        </div>
                                        <div class="rt-input-group">
                                            <label for="ye-8">Year</label>
                                            <input type="text" id="ye-8" placeholder="dd/mm/yy" required>
                                        </div>
                                    </div>
                                    <div class="rt-input-group">
                                        <label for="desc-8">Description</label>
                                        <textarea name="desc" id="desc-8" cols="30" rows="5" placeholder="Description"></textarea>
                                    </div>
                                </div>
                                <div class="d-flex justify-content-end mt-30">
                                    <a href="#" class="added__social__link">Remove Award</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex justify-content-start mt-20">
                        <a href="#" class="added__social__link">Add Award</a>
                    </div>
                </div>
            </div>
            <!-- Award end -->

        </div>
        <div class="d-flex justify-content-center mt-30">
            <p class="copyright">Copyright © 2024 All Rights Reserved by jobpath</p>

        </div>
    </div>
</div>
<!-- content area end -->