
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            All User
            @* <small>preview of simple tables</small> *@
        </h1>
        <ol class="breadcrumb">
            <li>
                <a asp-action="Index" asp-controller="Home" asp-area="Admin">
                    <i class="fa fa-dashboard"></i>
                    Home
                </a>
            </li>
            <li><a href="#">Manage User</a></li>
            <li class="active">All User</li>
        </ol>
    </section>
    <!-- Main content -->
    <section class="content">
        <div class="row">
            <img src="@(ViewBag.url)" alt="Alternate Text" />
        </div>
    </section>
    <!-- /.content -->

</div>