@using Microsoft.AspNetCore.Identity
@inject SignInManager<AppUser> SignInManager
<!-- header area -->
<header class="rts__section rts__dashboard__header position-fixed w-100">
    <div class="container-fluid g-0">
        <div class="rts__menu__background mw-100 px-20 mobile__padding rounded-0">
            <div class="row">
                <div class="d-flex align-items-center justify-content-between">
                    <div class="rts__logo">
                        <a asp-controller="Home" asp-action="Index">
                            @* <img class="logo__image" src="~/assets/img/logo/logo.jpg" width="40" alt="logo"/> *@
                            <span style="color: green; font-weight: bold; font-size: xx-large" >QQJob</span>
                        </a>
                    </div>
                    <div class="rts__menu d-flex gap-5 gap-lg-4 gap-xl-5 align-items-center">
                        <div class="navigation d-none d-lg-block">
                            <nav class="navigation__menu" id="offcanvas__menu">
                                <ul class="list-unstyled">
                                    <li class="navigation__menu--item has-child" role="menuitem">
                                        <a asp-controller="Home" asp-action="Index" class="navigation__menu--item__link">Home</a>
                                    </li>
                                    <!-- Browse Jobs -->
                                    <li class="navigation__menu--item has-child" role="menuitem">
                                        <a asp-controller="Jobs" asp-action="Index" class="navigation__menu--item__link">Browse Jobs</a>
                                    </li>
                                    <!-- Other Menus -->
                                </ul>
                            </nav>
                        </div>
                        
                        <!-- Header Buttons -->
                        <div class="header__right__btn d-flex align-items-center gap-30">
                            @if (SignInManager.IsSignedIn(User))
                            {
                                if (User.IsInRole("Candidate"))
                                {
                                    <div class="user__info">
                                        <div class="d-flex gap-3 align-items-center pointer" data-bs-toggle="dropdown">
                                            <div class="user__image">
                                                <img class="rounded-5" width="48" height="48" src="assets/img/author/1.svg" alt="">
                                            </div>
                                            <div class="user__name d-none d-xl-block">
                                                <h6 class="font-20 mb-0 fw-medium lh-sm">John Smith</h6>
                                                <span>Candidate</span>
                                            </div>
                                            <div class="dropdown__option d-none d-xl-block">
                                                <div class="dropdown__icon "><i class="fa-light fa-chevron-down"></i></div>
                                            </div>
                                        </div>
                                        <ul class="rts__dropdown dropdown-menu top-25">
                                            <li><a class="dropdown-item" asp-controller="Candidate" asp-action="Index">Dashboard</a></li>
                                            <li><a class="dropdown-item" class="nav-link" asp-controller="Candidate" asp-action="Profile">Profile</a></li>
                                            <li><a class="dropdown-item" class="nav-link" asp-controller="Candidate" asp-action="Resume">Resume</a></li>
                                            <li><a class="dropdown-item" class="nav-link" asp-controller="Candidate" asp-action="Message">Message</a></li>
                                            <li><a class="dropdown-item" asp-action="Logout" asp-controller="Account">Log Out</a></li>
                                        </ul>
                                    </div>
                                    <a asp-controller="Candidate" asp-action="Resume"
                                       class="small__btn d-none d-sm-flex d-xl-flex fill__btn border-6 font-xs"
                                       aria-label="Job Posting Button">
                                        Manage CV
                                    </a>
                                }
                                else if (User.IsInRole("Employer"))
                                {
                                    <div class="user__info ">
                                        <div class="d-flex gap-3 align-items-center pointer" data-bs-toggle="dropdown">
                                            <div class="user__image if__employer">
                                                <img class="rounded-5" width="48" height="48" src="assets/img/icon/google.svg" alt="">
                                            </div>
                                            <div class="user__name d-none d-xl-block">
                                                <h6 class="font-20 mb-1 text-capitalize fw-medium lh-sm">@User.Identity.Name</h6>
                                                <span>Employer</span>
                                            </div>
                                            <div class="dropdown__option d-none d-xl-block">
                                                <div class="dropdown__icon "><i class="fa-light fa-chevron-down"></i></div>
                                            </div>
                                        </div>
                                        <ul class="rts__dropdown dropdown-menu top-25">
                                            <li><a class="dropdown-item" asp-controller="Employer" asp-action="Index">Dashboard</a></li>
                                            <li><a class="dropdown-item" asp-controller="Employer" asp-action="EmployerProfile">Profile</a></li>
                                            <li><a class="dropdown-item" href="employer-dash-alert.html">Job Alert</a></li>
                                            <li><a class="dropdown-item" href="employer-dash-shortlist.html">Shortlist Job</a></li>
                                            <li><a class="dropdown-item" href="employer-dash-package.html">Packages</a></li>
                                            <li><a class="dropdown-item" href="employer-dash-message.html">Message</a></li>
                                            <li><a class="dropdown-item" href="employer-dash-passwordchange.html">Change Password</a></li>
                                            <li><a class="dropdown-item" asp-action="Logout" asp-controller="Account">Log Out</a></li>
                                            <li><a class="dropdown-item" href="employer-dash-deleteprofile.html">Delete Account</a></li>
                                        </ul>
                                    </div>
                                    <a asp-controller="Employer" asp-action="PostJob" 
                                       class="small__btn d-none d-sm-flex d-xl-flex fill__btn border-6 font-xs"
                                       aria-label="Job Posting Button">Add A Job
                                   </a>
                                }
                            }
                            else{
                                <a href="#" onclick="showLoginModal()" class="small__btn d-none d-sm-flex no__fill__btn border-6 font-xs">
                                    <i class="rt-login"></i>Sign In
                                </a>
                            }
                            
                            <button class="d-md-block d-lg-none" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvas" aria-controls="offcanvas">
                                <i class="fa-sharp fa-regular fa-bars"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>