@model RegisterViewModel
<!-- Signup Modal -->
<div class="modal similar__modal fade" id="signupModal">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="max-content similar__form form__padding">
                <div class="d-flex mb-3 align-items-center justify-content-between">
                    <h6 class="mb-0">Create A Free Account</h6>
                    <button type="button" data-bs-dismiss="modal" aria-label="Close">
                        <i class="fa-regular fa-xmark text-primary"></i>
                    </button>
                </div>
                <div class="d-block has__line text-center">
                    <p>Choose your Account Type</p>
                </div>

                <div class="tab__switch flex-wrap flex-sm-nowrap nav-tab mt-30">
                    <button class="rts__btn nav-link active" type="button" onclick="setAccountType(this,true)">
                        <i class="fa-light fa-user"></i> Candidate
                    </button>
                    <button class="rts__btn nav-link" type="button" onclick="setAccountType(this,false)">
                        <i class="rt-briefcase"></i> Employer
                    </button>
                </div>

                <!-- Signup Form -->
                <form class="d-flex flex-column gap-3" id="registerForm">
                    <divx asp-validation-summary="All" class="text-success"></divx>
                    <input type="hidden" asp-for="AccountType" class="form-control" />
                    <div class="form-group">
                        <label asp-for="Fullname" class="fw-medium text-dark mb-3"></label>
                        <div class="position-relative">
                            <input asp-for="Fullname" class="form-control" />
                            <i class="fa-sharp fa-light fa-envelope icon"></i>
                        </div>
                        <span asp-validation-for="Fullname" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="Email" class="fw-medium text-dark mb-3"></label>
                        <div class="position-relative">
                            <input asp-for="Email" class="form-control" />
                            <i class="fa-sharp fa-light fa-envelope icon"></i>
                        </div>
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="Password" class="fw-medium text-dark mb-3"></label>
                        <div class="position-relative">
                            <input asp-for="Password" class="form-control" />
                            <i class="fa-light fa-lock icon"></i>
                        </div>
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="ConfirmPassword" class="fw-medium text-dark mb-3"></label>
                        <div class="position-relative">
                            <input asp-for="ConfirmPassword" class="form-control" />
                            <i class="fa-light fa-lock icon"></i>
                        </div>
                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                    </div>

                    <div class="form-group my-3">
                        <button class="rts__btn w-100 fill__btn" type="button" onclick="register(this)">
                            <span id="loading" class="spinner-border spinner-border-sm" role="status" aria-hidden="true" hidden></span>
                            Sign Up
                        </button>
                    </div>
                </form>

                <div class="d-block has__line text-center">
                    <p>Or</p>
                </div>

                <!-- Social Signup -->
                <div class="d-flex flex-wrap justify-content-center gap-4 mt-20 mb-20">
                    <div class="is__social google">
                        <button>
                            <img src="assets/img/icon/google-small.svg" alt="" /> Continue with Google
                        </button>
                    </div>
                    <div class="is__social facebook">
                        <button>
                            <img src="assets/img/icon/facebook-small.svg" alt="" /> Continue with Facebook
                        </button>
                    </div>
                </div>

                <span class="d-block text-center fw-medium">
                    Have an account?
                    <a href="#" onclick="showLoginModal()" data-bs-dismiss="modal" class="text-primary">Login</a>
                </span>
            </div>
        </div>
    </div>
</div>